@charset "UTF-8";

/*
#78C0E0;
#449DD1;
#3943B7;
#150578;
#0E0E52;
*/
:root{
    --cor01: #78C0E0;
    --cor02: #449DD1;
    --cor03: #3943B7;
    --cor04: #150578;
    --cor05: #0E0E52;

    --fonte-padrao: Arial, Verdana Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor01);

}
header{
    background-color: var(--cor03);
}
header > h1{
    color: white;
}
header > p {
    color: white;
}
main{
    background-color:  white;
}
nav {
    background-color: var(--cor05);
}
main >  h1{
    color: var(--cor04)
}
footer{
    background-color: var(--cor05);
    color: white;
}