@charset "UTF-8";

/*
#78C0E0;
#449DD1;
#3943B7;
#150578;
#0E0E52;
*/
:root{
    --cor01: #78C0E0;
    --cor02: #449DD1;
    --cor03: #3943B7;
    --cor04: #150578;
    --cor05: #0E0E52;

    --fonte-padrao: Arial, Verdana Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor01);

}

main h2{
    color: var(--cor04);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor01), transparent);
    text-indent: 8px;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    line-height: 1.6em;
}

main strong{
    color: var(--cor04);
    font-weight: bold;

}

main a {
    text-decoration: none;
    background-color: var(--cor02);
    padding: 2px;
    border-radius: 3px 6px;
    color: white;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor01);
}

a.externo::after {
    content: '\00A0\1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor04));
    min-height: 120px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    margin: auto;
    color: white;
    margin-bottom: 10px;
    font-size: 2.8em;
    max-width: 600px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.459);
}

header > p {
    padding: 0px 20px;
    margin: auto;
    font-size: 1.2em;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.459);
}

main{
    background-color:  white;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: 0px auto 20px auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.315);
    border-radius: 0px 0px 10px 10px;
}
img, picture{
    max-width: 100%;
    display: block;
    margin: 10px auto 10px auto;
}

nav {
    padding: 10px;
    background-color: var(--cor05);
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.383);
}

main >  h1{
    color: var(--cor04)
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 500ms;
}

nav > a:hover{
    background-color: var(--cor02);
    color: var(--cor03)
}

aside{
    background-color: var(--cor01);
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.158);
}

aside > ul{
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 3;
}

aside > h3 {
    text-align: center;
    background-color: var(--cor04);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

footer{
    background-color: var(--cor05);
    color: white;
    text-align: center;
    font-size: 0.8;
    padding: 5px;
}

section#video{
    text-align: center;
    background-color: var(--cor04);
}

footer > p > a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    color: var(--cor02)
}