@charset "UTF-8";

body{
    background-color: #78C0E0;
}
main{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.342);
    background-color: #F4FFFD;
    border-radius: 7px;
}
h2, h3{
    color: #150578;
    text-align: center;
}
footer{
    margin: -10px;
    padding: 1px;
    background-color: #192BC2;
    color: #F4FFFD;
    font-size: large;
    font-weight: bolder;
    text-align: center;
}
main{
    margin: 0px 15% 30px 15%;
    padding-top: 1px;
    padding-bottom: 2px;
}
main > section {
    margin: -2px 20px -2px 20px;
}
section > p, article > p {
    text-align: justify;
}
section#video{
    background-color: #449DD1;
}
picture, img{
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
}
section#lista{
    background-color: #78C0E0;
    box-shadow:2px 2px 3px #4653625e;
    margin: 20px auto;
    border-radius: 4px;
}
article#artLista{
    padding: 7px 13px;
    margin: 5px;
}
article#artLista> ol{
    display: block;
    float: left;
    font-weight: bolder;
}
article#artLista> p {
    float: none;
}
